:root {
    --fontcolor: #90ee90;
    --bgcolor: #1f1f1f;
    --highlighted_text: #EFE9F4;
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
* {
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--bgcolor);
}

p,h1,h2,h3,h4,h5{
    color:var(--fontcolor)
}

a {
    color: var(--highlighted_text);
}

.pBorder {
    color: var(--highlighted_text);
    border-style: solid;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }