:root {
    --fontcolor: #90ee90;
    --bgcolor: #1f1f1f;
    --highlighted_text: #EFE9F4;
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  text-align: center;
}

.rowish {
  justify-content: center;
  text-align: center;
}

body{
    background-color: var(--bgcolor);
}

p,h1,h2,h3,h4,h5{
    color:var(--fontcolor)
}

.introPara {
    text-align: center;
}

a {
    color: var(--highlighted_text);
}

.actualIcon {
color: turquoise;
}

#tsparticles {
    height: 100vh;
    width: 95vw;
    position: absolute;
    z-index: -1;
}

.me {
  width: 100%;
height: 100%;
max-width: 100vw;
max-height: 100vh;
}

.particlesDiv{
  display: flex;
  z-index: 1;
  width: 100%;
  /* background-color: var(--bgcolor); */
}

.HomeHeader {
  width: 100%;
}

.resumeContainer {
  height: 950px;
}

.resume {
  width: 100%;
  height: 100%;
}

.pBg {
    background-color: var(--bgcolor);
}

.pBorder {
    color: var(--highlighted_text);
    border-style: solid;
    /* background-color: var(--bgcolor); */
    display: flex;
    justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
    position: relative;
  }
  
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
 }
  
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
  
.profCont {
  margin-bottom: 10px;
  border: 1px solid var(--highlighted_text);
}

.container:hover .image {
  opacity: 0.3;
}
  
.nav-link {
  color: var(--fontcolor);
  border-color: var(--bgcolor);
}

.nav-link:hover {
 color: var(--highlighted_text);
 border-color: var(--bgcolor);
}

.container:hover .middle {
  opacity: 1;
}
  
.text {
  color: var(--highlighted_text);
  font-size: 16px;
  padding: 16px 32px;
}

.github {
    border-radius: 15%;
    width: 100%;
    height: 100%;
}

.resWidth {
  width: 100%;
}

.github:hover {
   cursor: pointer;
  opacity: 0.3;
 }

@media screen and (max-width:1335px){

.resume {
  width: 100%;
}

.resumeContainer {
  width: 1500px;
}
}