:root {
    --fontcolor: #90ee90;
    --bgcolor: #1f1f1f;
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
* {
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--bgcolor);
    color: var(--fontcolor);
}